csv data 불러오기 pd.read_csv(()

In [1]:
import pandas as pd
import os

dataFrames = []
print("read_csv\n")
# base_dir = os.path.dirname(__file__) 
df = pd.read_csv('area_struct.csv', encoding='utf-8')
df

read_csv

      x   y  category  area
0     1   1         0     0
1     1   2         0     0
2     1   3         0     0
3     1   4         2     0
4     1   5         0     0
..   ..  ..       ...   ...
220  15  11         0     3
221  15  12         0     3
222  15  13         0     3
223  15  14         0     3
224  15  15         0     3

[225 rows x 4 columns]

열이름에 접근하기 문자열로 넣어줘야함
, 로 복수개를 넣어줘도 된다. 대신 리스트로 싸줘야 한다

In [14]:
df[['x', 'y']]  # 열이름에 접근하기 문자열로 넣어줘야함

      x   y
0     1   1
1     1   2
2     1   3
3     1   4
4     1   5
..   ..  ..
220  15  11
221  15  12
222  15  13
223  15  14
224  15  15

[225 rows x 2 columns]

행에 접근하는 법은 loc와 iloc  가 있다.
loc는 밸류로 검색 ''로 쌀필요는 없음
iloc는 인덱스로 검색

In [17]:
df.loc[[0,3],['x','y']]  # loc는 밸류로 검색 ''로 쌀필요는 없음

   x  y
0  1  1
3  1  4

In [18]:
df.iloc[[0,3],[0,1]]  # 인덱스로 접근하기

   x  y
0  1  1
3  1  4

원하는 데이터만 추출 , x==1인경우

In [ ]:
df[(df['x']==1) & (df['y'] < 5)]  # 원하는 데이터만 추출 , x==1이고 y<5인경우 조건이 2개 이상일경우 소괄호로 묶어줘야함

   x  y  category  area
0  1  1         0     0
1  1  2         0     0
2  1  3         0     0
3  1  4         2     0

데이터프레임 기본기능 앞부분을 보여줌 head()
뒷부분 보여주는 tail()

In [23]:
df.head(n=10)  # 데이터프레임의 앞부분을 보여줌 개수 지정가능

   x   y  category  area
0  1   1         0     0
1  1   2         0     0
2  1   3         0     0
3  1   4         2     0
4  1   5         0     0
5  1   6         0     0
6  1   7         0     0
7  1   8         0     1
8  1   9         0     1
9  1  10         0     1

데이터프레임 정보 조회

In [26]:
df.shape  # 데이터프레임의 행과 열의 개수를 튜플로 반환

(225, 4)

In [27]:
df.columns  # 데이터프레임의 열이름을 반환

Index(['x', 'y', 'category', 'area'], dtype='object')

In [28]:
df.dtypes  # 데이터프레임의 각 열의 데이터 타입을 반환

x           int64
y           int64
category    int64
area        int64
dtype: object

In [29]:
df.info()  # 데이터프레임의 정보 조회

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   x         225 non-null    int64
 1   y         225 non-null    int64
 2   category  225 non-null    int64
 3   area      225 non-null    int64
dtypes: int64(4)
memory usage: 7.2 KB