In [27]:
import pandas as pd
df = pd.read_csv('gapminder.tsv' , sep='\t')
df.head(n=3)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

In [28]:
year = df['year']
continent = df['continent']

In [29]:
year.std()

17.265329508973615

In [30]:
continent

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

In [ ]:
#year.append(continent) append 는 pandas v2.0.0 에서 deprecated 되었습니다.
pd.concat([year, continent], axis=1)

      year continent
0     1952      Asia
1     1957      Asia
2     1962      Asia
3     1967      Asia
4     1972      Asia
...    ...       ...
1699  1987    Africa
1700  1992    Africa
1701  1997    Africa
1702  2002    Africa
1703  2007    Africa

[1704 rows x 2 columns]

In [32]:
year.describe()

count    1704.00000
mean     1979.50000
std        17.26533
min      1952.00000
25%      1965.75000
50%      1979.50000
75%      1993.25000
max      2007.00000
Name: year, dtype: float64

In [33]:
df.sort_values(by='gdpPercap', ascending=False)

              country continent  year  lifeExp       pop      gdpPercap
853            Kuwait      Asia  1957   58.033    212846  113523.132900
856            Kuwait      Asia  1972   67.712    841934  109347.867000
852            Kuwait      Asia  1952   55.565    160000  108382.352900
854            Kuwait      Asia  1962   60.470    358266   95458.111760
855            Kuwait      Asia  1967   64.624    575003   80894.883260
..                ...       ...   ...      ...       ...            ...
333  Congo, Dem. Rep.    Africa  1997   42.587  47798986     312.188423
624     Guinea-Bissau    Africa  1952   32.500    580653     299.850319
876           Lesotho    Africa  1952   42.138    748747     298.846212
335  Congo, Dem. Rep.    Africa  2007   46.462  64606759     277.551859
334  Congo, Dem. Rep.    Africa  2002   44.966  55379852     241.165876

[1704 rows x 6 columns]

In [34]:
year.drop_duplicates()

0     1952
1     1957
2     1962
3     1967
4     1972
5     1977
6     1982
7     1987
8     1992
9     1997
10    2002
11    2007
Name: year, dtype: int64

In [35]:
df.drop_duplicates()

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [38]:
df.drop_duplicates(subset='year')  # This will remove duplicates based on

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
1   Afghanistan      Asia  1957   30.332   9240934  820.853030
2   Afghanistan      Asia  1962   31.997  10267083  853.100710
3   Afghanistan      Asia  1967   34.020  11537966  836.197138
4   Afghanistan      Asia  1972   36.088  13079460  739.981106
5   Afghanistan      Asia  1977   38.438  14880372  786.113360
6   Afghanistan      Asia  1982   39.854  12881816  978.011439
7   Afghanistan      Asia  1987   40.822  13867957  852.395945
8   Afghanistan      Asia  1992   41.674  16317921  649.341395
9   Afghanistan      Asia  1997   41.763  22227415  635.341351
10  Afghanistan      Asia  2002   42.129  25268405  726.734055
11  Afghanistan      Asia  2007   43.828  31889923  974.580338