# 시리즈 만들기

In [1]:
import pandas as pd

In [2]:
a = pd.Series([100, 200, 300])
a

0    100
1    200
2    300
dtype: int64

## 시리즈 행 번호 이름 바꾸기

In [3]:
a.index = ['A', 'B', 'C']
a

A    100
B    200
C    300
dtype: int64

# 데이터 프레임 만들기

In [4]:
df = pd.DataFrame({
    '이름' : ['장원영', '강동원', '아이유'],
    '성별' : ['여자', '남자', '여자']
})
df

    이름  성별
0  장원영  여자
1  강동원  남자
2  아이유  여자

## 데이터 프레임 행 이름 바꾸기

In [5]:
df.index = ['A', 'B', 'C']
df

    이름  성별
A  장원영  여자
B  강동원  남자
C  아이유  여자

## 데이터 프레임 열 이름 바꾸기
inplace = True를 해주지 않으면, 저장이 되지 않는다.

In [8]:
df.rename(columns={'이름' : '성명'})

    성명  성별
A  장원영  여자
B  강동원  남자
C  아이유  여자

In [9]:
df

    이름  성별
A  장원영  여자
B  강동원  남자
C  아이유  여자

In [10]:
df.rename(columns={'이름' : '성명'}, inplace=True)
df

    성명  성별
A  장원영  여자
B  강동원  남자
C  아이유  여자

## 시리즈에서 내가 원하는 값만 추출하기

In [12]:
a[a > 150]

B    200
C    300
dtype: int64

## 시리즈끼리 연산하기
시리즈 연산은 같은 행 이름끼리 연산한다

In [13]:
a + a

A    200
B    400
C    600
dtype: int64

In [14]:
a * a

A    10000
B    40000
C    90000
dtype: int64

In [15]:
b = pd.Series([100])
a + b

A   NaN
B   NaN
C   NaN
0   NaN
dtype: float64

In [16]:
b.index = ['A']
a + b

A    200.0
B      NaN
C      NaN
dtype: float64